/* 문제1 */
div#container1.highlight{ background-color: yellow; }

/* 문제2 */
#container2>p{color: red;}
#container2{color: pink;}
/* #container2 p:not(#container2>p){color: pink;} */

/* 문제3 */
#container3>input:not(#container3>input[type="submit"]){
    border: 1px solid blue;
}

/* 문제4 */
#container4>h1,.title{
    color: green;
    font-size: 20px;
}

/* 문제5 */
div[class^=user]{background-color: lightgray;}
div[class$=info]{color: red;}
div[class~=product]{background-color: coral;}
div[class|=admin]{background-color: greenyellow;}

/* 문제6 */
#container6>input:focus{background-color: yellow;}
#container6>input:hover{background-color: green;}

/* 문제7 */
#container7>li:nth-of-type(2){font-weight: bold;}

/* 문제8 */
.container8>p:only-of-type{color: blue;}

/* 문제9 */
#container9>p[title*=important]:not([title*=not-important]){
    background-color: red;
}

/* 문제10 */
ul#menu>li.active{color: red;}