/* 크롬브라우저 기준 기본 글꼴 크기 16px */
#size-test>li:nth-child(1){font-size: 24px;}
#size-test>li:nth-child(2){font-size: 18pt;}
#size-test>li:nth-child(3){font-size: 150%;}
#size-test>li:nth-child(4){font-size: 1.5em;}

#weight-test>li{font-size: 34px;}
#weight-test>li:nth-child(1){font-weight: 600;}
#weight-test>li:nth-child(2){font-weight: bold;} /* bold == 700 */
#weight-test>li:nth-child(3){font-weight: bolder;} /* 기본값 == 400 보다 굵게 */
#weight-test>li:nth-child(4){font-weight: lighter;} /* normal 보다 얇게 */
#weight-test>li:nth-child(5){font-weight: normal;}

/* font-family */
.cls>li{font-size: 24px;}
#family-test1>li:nth-child(1){font-family: '궁서';}
/* ,순서대로 인식 후 없으면 다음으로 넘어감 */
#family-test1>li:nth-child(2){font-family: '경민체','동희체','굴림체';}


#family-test2>li:nth-child(1) {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#family-test2>li:nth-child(2) {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}