/* :only-child */
#test1>p:only-child{
    background-color: steelblue;
}

/* :only-of-type */
#test2>:only-of-type{
    background-color: crimson;
}

/* :empty */
#test3>p:empty{
    height: 30px;
    background-color: lime;
}

/* 여러 선택자를 동시에 사용 */
#test4-1, #test4-2, .test4-3{
    background-color: yellow;
}

/* 특정 요소 내부에 있는 특정 클래스 선택하기 */
#test5-1>li.c5{
    background-color: aquamarine;
}

/* 클래스가 여러개인 요소를 선택 */
.test6.c6{
    background-color: red;
}