div:not(.menubar>div, .new>div, .footer div){
    border: 1px solid black;
    
}
.container{
    width: 1140px;
    margin: auto;
}

.header{
    height: 200px;
    display: flex;
}
.header>div, .menubar>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>div:nth-child(1){
    flex-basis: 15%;
}
.header>div:nth-child(2){
    flex-basis: 70%;
}
.header>div:nth-child(3){
    flex-basis: 15%;
}

.header>div:nth-child(1)>img{
    width: 120px;
}
.header>div:nth-child(2)>input{
    width: 500px;
    height: 30px;
    padding: 10px;
    font-weight: bold;
    border: 3px solid #455ba8;
    border-radius: 5px;
}

.menubar{
    display: flex;
    height: 50px;

    border-bottom: 2px solid black;
    background-color: white;

    position: sticky;
    top: 0;
    /* 
        stichey
         - 스크롤이 임계점에 도달했을 때 화면에 스티커처럼 요소를 붙이는 속성
         - 평소에는 기분 position상태를 유지하다가, 임계점 도달시 fixed로 변경된다.
         - top, bottom, left, right 속성이 필수로 작성되어야 한다.
    */
}
/* .menubar>ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}
.menubar li{
    flex: 0 1 150px;
}
.menubar a{
    display: block;
    height: 100%;
    text-align: center;
    line-height: 50px;

    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.menubar a:hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.1s;
} */
.menubar>div{
    border-radius: 5px;
    width: 150px;
    height: 100%;
}
.menubar>div:hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.1s;
    cursor: pointer;
}
.menubar a{
    display: block;
    text-align: center;

    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.menubar a:hover{
    background-color: #455ba8;
    color: white;
    border-radius: 5px;
    transition-duration: 0.1s;
}

.main{
    display: flex;
    height: 800px;
}
.main>div:nth-child(1){
    flex-basis: 70%;
}
.main>div:nth-child(2){
    flex-basis: 30%;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11%;
}
.a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70%;
}
.a>input{
    width: 96%;
    height: 96%;
    padding: 2%;
}
.b{
    width: 30%;
    height: 70%;
}
.b>button{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: white;
    cursor: pointer;
}
.b>button:hover{
    background-color: #455ba8;
    color: white;
}

.new{
    display: flex;
    padding: 0 11px;
}
.new a{
    color: black;
    text-decoration: none;
    
    font-size: 14px;
}
.new span{
    padding: 0 10px;
}
.new>a:hover{
    background-color: #8a8080;
    cursor: pointer;
}

.footer{
    height: 200px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: #ddd;
}
.footer>p{
    font-weight: bold;
}
.footer>div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.footer>div a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.footer div span{
    padding: 0 5px;
}
.footer a:hover{
    cursor: pointer;
}