div:not(.menubar>div, .new>div, .footer div){
    border: 1px solid black;
}
.container{
    width: 1140px;
    margin: auto;
}

.header{
    height: 200px;
    display: flex;
}
.header>div, .menubar>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>div:nth-child(1){
    flex-basis: 15%;
}
.header>div:nth-child(2){
    flex-basis: 70%;
}
.header>div:nth-child(3){
    flex-basis: 15%;
}

.header>div:nth-child(1)>img{
    width: 120px;
}
.header>div:nth-child(2)>input{
    width: 500px;
    height: 30px;
    padding: 10px;
    font-weight: bold;
    border: 3px solid #455ba8;
    border-radius: 5px;
}

.menubar{
    display: flex;
}
.menubar>div{
    border-radius: 5px;
    width: 150px;
    height: 40px;
}
.menubar>div:hover{
    background-color: #455ba8;
    color: white;
    cursor: pointer;
}

.main{
    display: flex;
}
.main>div:nth-child(1){
    width: 70%;
    height: 800px;
}

.side{
    width: 30%;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11%;
}
.a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 70%;
}
.a>input{
    width: 96%;
    height: 96%;
    padding: 2%;
}
.b{
    width: 30%;
    height: 70%;
}
.b>input{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.new{
    display: flex;
}
.new>div{
    padding: 1%;
}
.new>div:hover{
    background-color: #8a8080;
    cursor: pointer;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer>div{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.footer div{
    padding: 2px;
}
.footer>div>div:hover{
    cursor: pointer;
}